<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>会員情報編集</h2>
        
        <!--<%= form_with model:@customer, local:true do |f| %>-->
        <!--コンフリクトが怖くコントローラーで@customer未定義の為コメントアウト-->
        
          <div>
            <%= f.label "氏名" %>
            <%= f.text_field :first_name %>
            <%= f.text_field :last_name %>
          </div>
          
          <div>
            <%= f.label "カナ" %>
            <%= f.text_field :first_name_kana %>
            <%= f.text_field :last_name_kana %>
          </div>
          
          <div>
            <%= f.label "郵便番号" %>
            <%= f.text_field :postcode %>
          </div>
          
          <div>
            <%= f.label "住所" %>
            <%= f.text_field :address %>
          </div>
          
          <div>
            <%= f.label "電話番号" %>
            <%= f.text_field :phone_number %>
          </div>
          
          <div>
            <%= f.label "メールアドレス" %>
            <%= f.text_field :email %>
          </div>
          
          <div>
            <%= f.submit "編集内容を保存", class: 'btn btn-primary btn-block' %>
            <%= f.submit "退会する", class: 'btn btn-danger btn-block' %>
          </div>
          
        <!--<% end %>-->

    </div>
  </div>
</div>