<%= render 'layouts/admin_header' %>
<div class="container my-5">'
 <div class="row my-3">
  <div class="offset-sm-3">
        <h2>商品一覧</h2>
        <div class="add">
            <%=link_to image_tag("追加ボタン.jpg", :size => '50x50'), new_admin_product_path %>
        </div>
        <table class="table table-hover table-bordered">
        <thead>
            <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
            </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
             <td><%= product.id %></td>  
             <td><%= link_to product.name, admin_product_path(product.id)  %></td>
             <td><%= product.non_tax_price.to_s(:delimited) %>円</td>
             <td><%= product.genre.name %></td>
             <td><%= product.is_active ? "販売中":"販売停止中" %></td>
           </tr>
         <% end %>
        </tbody>
        </table>
   </div>
  </div>
</div>