<検索結果>
         <tbody>
          <% @products.each do |product| %>
            <tr>
             <td><%= product.id %></td>  
             <td><%= link_to product.name, admin_product_path(product.id)  %></td>
             <td><%= product.non_tax_price %>円</td>
             <td><%= product.genre.name %></td>
             <td><%= product.is_active ? "販売中":"販売停止中" %></td>
           </tr>
         <% end %>
        </tbody>