<nav class="navbar navbar-expand navbar-dark bg-dark navbar-fixed-top", style="background-color: #432c28;">
  <div class="container">
    <div class="row">
      <%= link_to "ながのcake管理者サイト", admin_orders_path, class: "navbar-brand" %>

      <% if admin_signed_in? %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "商品一覧", admin_products_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "会員一覧", admin_customers_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "注文履歴一覧", admin_orders_path(order_sort: 0), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
          </li>
        </ul>
      <% end %> 
      
<div class="search-form">
  <%= form_tag(admin_search_path, :method => "get") do %>
   <%= text_field_tag :keyword %>
   <%= submit_tag "検索" %>
   <% end %>
</div>
    </div>
  </div>
</nav>